.page_layout{
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: row;
}
.row p{
    padding: 0 5px;
}
.balance{
    padding: 125px;
}
.display{
    display: flex;
    flex-direction: column;
}